@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;    
}
.logo{
    font-size: 30px;
}
.header-home{
    background-color: #1F2933;
    height: 600px;
    font-size: 17px;
}
.nav-home{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}   
.nav-home a{
    text-decoration: none;
    color: #FFF;
    
}
.nav-items{
    display: flex;
    gap: 30px;
    text-decoration: none;
}
.header-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px;
}
.left-header{
    display: flex;
    flex-direction: column;
    color: #FFF;
    margin-left: 20px;
    justify-content: center;
    font-weight: 900;
}
.left-header button{
    
   text-decoration: none;
   margin-top: 30px;
   color: #FFF;
   background-color: #3882F6;
   width: 90px;
   padding: 10px;
   border-radius: 15px;
}


.right-header {
    display: flex;
    justify-content: center;
}
.right-header img{
    width: 450px;
    height: 300px;
}

.main-home h2{
    text-align: center;
    margin-top: 40px;
}
.containerone{
    display: flex;
    gap: 40px;
    justify-content: center;
    
}
.sri{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}
.containerone img{
    width: 140px;
    height: 140px;
    border: solid 4px #3882F6;
    border-radius: 30px;
}


.quote-section {
    margin-top: 60px;
    height: 300px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column; 
    justify-items: center;
    justify-content: center;
    
}
.thequote {
    text-align: center;
    font-size: 34px;
    color: #1F2937;
    font-weight: 300;
   
}
.author {
    margin-left: auto;
    margin-top: 30px;
    margin-right: 70px;
     font-size: 34px;   
    font-weight: 300;
}

.call-action {
  display: flex;
  align-items: center;                /* Vertical center */
  justify-content: space-between;     /* Space between text and button */
  background: #3882F6;
  border-radius: 12px;
  padding: 48px 120px;
  width: 70%;
  margin: 40px auto;
 
}

.action-text h2 {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  margin: 0 0 6px 0;
}


.action-text p {
  color: #e5e7eb;
  font-size: 1.1rem;
  margin: 0;
}

.action-button {
  background: transparent;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  border: 2px solid #fff;
  border-radius: 8px;
  padding: 8px 36px;
  cursor: pointer;
  transition: background .2s;
}

.footer-section{
    background-color: #1F2933;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 65px;
    

}

